body{
    margin: 0;
    background-image: url('clem-onojeghuo-9AEh9i-WPhI-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 select, textarea{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

 input{
     right: 0;
 }

/*
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #cccccc;
}


 */
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover{
    background-color: steelblue;
}



.col-25{
    float: left;
    width: 10%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 50%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.button{
    width:20%;
    height:20%;

}

#move{
    text-align: center;
    margin-left: 320px;
    margin-top: 10px;
}

.container{
    margin-top: 50px;
    padding: 10px;
}


.topNav{
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover{
    background-color: #ddd;
    color: black;
}

.topNav a:active{
    background-color: #4CAF50;
    color: white;
}


.topNav input{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}



